@import url("variables.less");
@import url("mixins.less");
/*Priorities*/

table.list tr.priority-highest td:first-child a {
    color: #fff;
}

/*----------------- Low -----------------*/

table.list tr.priority-lowest td:first-child {
    background: url(../../images/old_priorities/priority1.png) no-repeat left center;
}

/*----------------- Normal -----------------*/

table.list tr.priority-default td:first-child {
    background: url(../../images/old_priorities/priority2.png) no-repeat left center;
}

/*----------------- High -----------------*/

table.list tr.priority-high3 td:first-child {
    background: url(../../images/old_priorities/priority3.png) no-repeat left center;
}

/*----------------- Urgent -----------------*/

table.list tr.priority-high2 td:first-child {
    background: url(../../images/old_priorities/priority4.png) no-repeat left center;
}

/*----------------- Immediate -----------------*/

table.list tr.priority-highest td:first-child {
    background: #df4b3b;
}

.cal a.priority-lowest {
    color: #ffc58f;
}

.cal a.priority-default {
    color: inherit;
}

.cal a.priority-high3 {
    color: #ff998f;
}

.cal a.priority-high2 {
    color: #df4b3b;
}

.cal a.priority-highest {
    color: #981406;
}
